In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
data = pd.read_csv('masterCSVfmfull.csv')

In [8]:
f_yvsn = (data['country'] == 'Poland')
pl_all =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]

In [7]:
pl_all

,sex,country,year,generation,suicides_no,population,suicides/100k pop
13248,female,Poland,1985,NaN,NaN,NaN,NaN
13249,female,Poland,1985,NaN,NaN,NaN,NaN
13250,female,Poland,1985,NaN,NaN,NaN,NaN
13251,female,Poland,1985,NaN,NaN,NaN,NaN
13252,female,Poland,1985,NaN,NaN,NaN,NaN
13253,female,Poland,1985,NaN,NaN,NaN,NaN
13254,female,Poland,1986,NaN,NaN,NaN,NaN
13255,female,Poland,1986,NaN,NaN,NaN,NaN
13256,female,Poland,1986,NaN,NaN,NaN,NaN
13257,female,Poland,1986,NaN,NaN,NaN,NaN
13258,female,Poland,1986,NaN,NaN,NaN,NaN
13259,female,Poland,1986,NaN,NaN,NaN,NaN
13260,female,Poland,1987,NaN,NaN,NaN,NaN
13261,female,Poland,1987,NaN,NaN,NaN,NaN
13262,female,Poland,1987,NaN,NaN,NaN,NaN
13263,female,Poland,1987,NaN,NaN,NaN,NaN
13264,female,Poland,1987,NaN,NaN,NaN,NaN
13265,female,Poland,1987,NaN,NaN,NaN,NaN
13266,female,Poland,1988,NaN,NaN,NaN,NaN
13267,female,Poland,1988,NaN,NaN,NaN,NaN
13268,female,Poland,1988,NaN,NaN,NaN,NaN
13269,female,Poland,1988,NaN,NaN,NaN,NaN
13270,female,Poland,1988,NaN,NaN,NaN,NaN
13271,female,Poland,1988,NaN,NaN,NaN,NaN
13272,female,Poland,1989,NaN,NaN,NaN,NaN
13273,female,Poland,1989,NaN,NaN,NaN,NaN
13274,female,Poland,1989,NaN,NaN,NaN,NaN
13275,female,Poland,1989,NaN,NaN,NaN,NaN
13276,female,Poland,1989,NaN,NaN,NaN,NaN
13277,female,Poland,1989,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
32802,male,Poland,2012,Millenials,509.0,2533873.0,20.09
32803,male,Poland,2012,Millenials,857.0,3139373.0,27.30
32804,male,Poland,2012,Generation X,2182.0,5186397.0,42.07
32805,male,Poland,2012,Generation Z,12.0,1898168.0,0.63
32806,male,Poland,2012,Boomers,1708.0,3762189.0,45.40
32807,male,Poland,2012,Silent,290.0,854366.0,33.94
32808,male,Poland,2013,Millenials,497.0,2443545.0,20.34
32809,male,Poland,2013,Millenials,810.0,3124764.0,25.92
32810,male,Poland,2013,Generation X,2013.0,5168551.0,38.95
32811,male,Poland,2013,Generation Z,16.0,1906361.0,0.84
32812,male,Poland,2013,Boomers,1755.0,3866967.0,45.38
32813,male,Poland,2013,Silent,287.0,869774.0,33.00
32814,male,Poland,2014,Millenials,527.0,2357793.0,22.35
32815,male,Poland,2014,Millenials,764.0,3087300.0,24.75
32816,male,Poland,2014,Generation X,1949.0,5170670.0,37.69
32817,male,Poland,2014,Generation Z,9.0,1929147.0,0.47
32818,male,Poland,2014,Boomers,1606.0,3963821.0,40.52
32819,male,Poland,2014,Silent,268.0,888229.0,30.17
32820,male,Poland,2015,Millenials,440.0,2274111.0,19.35
32821,male,Poland,2015,Millenials,768.0,3043082.0,25.24
32822,male,Poland,2015,Generation X,1665.0,5194280.0,32.05
32823,male,Poland,2015,Generation Z,12.0,1953588.0,0.61
32824,male,Poland,2015,Boomers,1524.0,4043381.0,37.69
32825,male,Poland,2015,Silent,288.0,902310.0,31.92
32826,male,Poland,2016,NaN,NaN,NaN,NaN
32827,male,Poland,2016,NaN,NaN,NaN,NaN
32828,male,Poland,2016,NaN,NaN,NaN,NaN
32829,male,Poland,2016,NaN,NaN,NaN,NaN
32830,male,Poland,2016,NaN,NaN,NaN,NaN
32831,male,Poland,2016,NaN,NaN,NaN,NaN