In [40]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [41]:
data = pd.read_csv('master_europa_olny.csv')

In [42]:
data = data.drop(['Unnamed: 0'], axis = 1)

In [43]:
data.columns

Index(['sex', 'country', 'year', 'age', 'generation', 'suicides_no',
       'population', 'suicides/100k pop', 'HDI for year', 'gdp_for_year ($) ',
       'gdp_per_capita ($)'],
      dtype='object')

In [44]:
data

,sex,country,year,age,generation,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year ($),gdp_per_capita ($)
0,female,Albania,1985,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,female,Albania,1985,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,female,Albania,1985,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,female,Albania,1985,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,female,Albania,1985,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,female,Albania,1985,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,female,Albania,1986,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,female,Albania,1986,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,female,Albania,1986,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,female,Albania,1986,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,female,Albania,1986,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,female,Albania,1986,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,female,Albania,1987,15-24 years,Generation X,14.0,289700.0,4.83,NaN,2.156625e+09,796.0
13,female,Albania,1987,25-34 years,Boomers,4.0,257200.0,1.56,NaN,2.156625e+09,796.0
14,female,Albania,1987,35-54 years,Silent,6.0,278800.0,2.15,NaN,2.156625e+09,796.0
15,female,Albania,1987,5-14 years,Generation X,0.0,311000.0,0.00,NaN,2.156625e+09,796.0
16,female,Albania,1987,55-74 years,G.I. Generation,0.0,144600.0,0.00,NaN,2.156625e+09,796.0
17,female,Albania,1987,75+ years,G.I. Generation,1.0,35600.0,2.81,NaN,2.156625e+09,796.0
18,female,Albania,1988,15-24 years,Generation X,8.0,295600.0,2.71,NaN,2.126000e+09,769.0
19,female,Albania,1988,25-34 years,Boomers,5.0,262400.0,1.91,NaN,2.126000e+09,769.0
20,female,Albania,1988,35-54 years,Silent,4.0,284500.0,1.41,NaN,2.126000e+09,769.0
21,female,Albania,1988,5-14 years,Generation X,0.0,317200.0,0.00,NaN,2.126000e+09,769.0
22,female,Albania,1988,55-74 years,G.I. Generation,3.0,147500.0,2.03,NaN,2.126000e+09,769.0
23,female,Albania,1988,75+ years,G.I. Generation,2.0,36400.0,5.49,NaN,2.126000e+09,769.0
24,female,Albania,1989,15-24 years,Generation X,5.0,299900.0,1.67,NaN,2.335125e+09,833.0
25,female,Albania,1989,25-34 years,Boomers,2.0,266300.0,0.75,NaN,2.335125e+09,833.0
26,female,Albania,1989,35-54 years,Silent,7.0,288600.0,2.43,NaN,2.335125e+09,833.0
27,female,Albania,1989,5-14 years,Generation X,0.0,321900.0,0.00,NaN,2.335125e+09,833.0
28,female,Albania,1989,55-74 years,G.I. Generation,1.0,149600.0,0.67,NaN,2.335125e+09,833.0
29,female,Albania,1989,75+ years,G.I. Generation,0.0,37000.0,0.00,NaN,2.335125e+09,833.0
...,...,...,...,...,...,...,...,...,...,...,...
14946,male,United Kingdom,2012,15-24 years,Millenials,364.0,4204765.0,8.66,901.0,2.662085e+12,44585.0
14947,male,United Kingdom,2012,25-34 years,Millenials,597.0,4261254.0,14.01,901.0,2.662085e+12,44585.0
14948,male,United Kingdom,2012,35-54 years,Generation X,1587.0,8673006.0,18.30,901.0,2.662085e+12,44585.0
14949,male,United Kingdom,2012,5-14 years,Generation Z,10.0,3695552.0,0.27,901.0,2.662085e+12,44585.0
14950,male,United Kingdom,2012,55-74 years,Boomers,739.0,6392214.0,11.56,901.0,2.662085e+12,44585.0
14951,male,United Kingdom,2012,75+ years,Silent,215.0,2043034.0,10.52,901.0,2.662085e+12,44585.0
14952,male,United Kingdom,2013,15-24 years,Millenials,331.0,4180873.0,7.92,902.0,2.739819e+12,45594.0
14953,male,United Kingdom,2013,25-34 years,Millenials,586.0,4320298.0,13.56,902.0,2.739819e+12,45594.0
14954,male,United Kingdom,2013,35-54 years,Generation X,1743.0,8656572.0,20.13,902.0,2.739819e+12,45594.0
14955,male,United Kingdom,2013,5-14 years,Generation Z,5.0,3734237.0,0.13,902.0,2.739819e+12,45594.0
14956,male,United Kingdom,2013,55-74 years,Boomers,908.0,6488882.0,13.99,902.0,2.739819e+12,45594.0
14957,male,United Kingdom,2013,75+ years,Silent,258.0,2096518.0,12.31,902.0,2.739819e+12,45594.0
14958,male,United Kingdom,2014,15-24 years,Millenials,332.0,4171187.0,7.96,907.0,3.022828e+12,49906.0
14959,male,United Kingdom,2014,25-34 years,Millenials,602.0,4360457.0,13.81,907.0,3.022828e+12,49906.0
14960,male,United Kingdom,2014,35-54 years,Generation X,1692.0,8665195.0,19.53,907.0,3.022828e+12,49906.0
14961,male,United Kingdom,2014,5-14 years,Generation Z,7.0,3778321.0,0.19,907.0,3.022828e+12,49906.0
14962,male,United Kingdom,2014,55-74 years,Boomers,827.0,6597480.0,12.54,907.0,3.022828e+12,49906.0
14963,male,United Kingdom,2014,75+ years,Silent,257.0,2158742.0,11.91,907.0,3.022828e+12,49906.0
14964,male,United Kingdom,2015,15-24 years,Millenials,374.0,4151992.0,9.01,NaN,2.885570e+12,47240.0
14965,male,United Kingdom,2015,25-34 years,Millenials,596.0,4408293.0,13.52,NaN,2.885570e+12,47240.0
14966,male,United Kingdom,2015,35-54 years,Generation X,1579.0,8692440.0,18.17,NaN,2.885570e+12,47240.0
14967,male,United Kingdom,2015,5-14 years,Generation Z,4.0,3840476.0,0.10,NaN,2.885570e+12,47240.0
14968,male,United Kingdom,2015,55-74 years,Boomers,906.0,6716557.0,13.49,NaN,2.885570e+12,47240.0
14969,male,United Kingdom,2015,75+ years,Silent,273.0,2200958.0,12.40,NaN,2.885570e+12,47240.0
14970,male,United Kingdom,2016,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14971,male,United Kingdom,2016,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14972,male,United Kingdom,2016,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14973,male,United Kingdom,2016,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14974,male,United Kingdom,2016,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14975,male,United Kingdom,2016,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
f_cntr = (data['country'] == 'Poland')

In [46]:
data.loc[f_cntr, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]

,sex,country,year,generation,suicides_no,population,suicides/100k pop
4800,female,Poland,1985,NaN,NaN,NaN,NaN
4801,female,Poland,1985,NaN,NaN,NaN,NaN
4802,female,Poland,1985,NaN,NaN,NaN,NaN
4803,female,Poland,1985,NaN,NaN,NaN,NaN
4804,female,Poland,1985,NaN,NaN,NaN,NaN
4805,female,Poland,1985,NaN,NaN,NaN,NaN
4806,female,Poland,1986,NaN,NaN,NaN,NaN
4807,female,Poland,1986,NaN,NaN,NaN,NaN
4808,female,Poland,1986,NaN,NaN,NaN,NaN
4809,female,Poland,1986,NaN,NaN,NaN,NaN
4810,female,Poland,1986,NaN,NaN,NaN,NaN
4811,female,Poland,1986,NaN,NaN,NaN,NaN
4812,female,Poland,1987,NaN,NaN,NaN,NaN
4813,female,Poland,1987,NaN,NaN,NaN,NaN
4814,female,Poland,1987,NaN,NaN,NaN,NaN
4815,female,Poland,1987,NaN,NaN,NaN,NaN
4816,female,Poland,1987,NaN,NaN,NaN,NaN
4817,female,Poland,1987,NaN,NaN,NaN,NaN
4818,female,Poland,1988,NaN,NaN,NaN,NaN
4819,female,Poland,1988,NaN,NaN,NaN,NaN
4820,female,Poland,1988,NaN,NaN,NaN,NaN
4821,female,Poland,1988,NaN,NaN,NaN,NaN
4822,female,Poland,1988,NaN,NaN,NaN,NaN
4823,female,Poland,1988,NaN,NaN,NaN,NaN
4824,female,Poland,1989,NaN,NaN,NaN,NaN
4825,female,Poland,1989,NaN,NaN,NaN,NaN
4826,female,Poland,1989,NaN,NaN,NaN,NaN
4827,female,Poland,1989,NaN,NaN,NaN,NaN
4828,female,Poland,1989,NaN,NaN,NaN,NaN
4829,female,Poland,1989,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
12450,male,Poland,2012,Millenials,509.0,2533873.0,20.09
12451,male,Poland,2012,Millenials,857.0,3139373.0,27.30
12452,male,Poland,2012,Generation X,2182.0,5186397.0,42.07
12453,male,Poland,2012,Generation Z,12.0,1898168.0,0.63
12454,male,Poland,2012,Boomers,1708.0,3762189.0,45.40
12455,male,Poland,2012,Silent,290.0,854366.0,33.94
12456,male,Poland,2013,Millenials,497.0,2443545.0,20.34
12457,male,Poland,2013,Millenials,810.0,3124764.0,25.92
12458,male,Poland,2013,Generation X,2013.0,5168551.0,38.95
12459,male,Poland,2013,Generation Z,16.0,1906361.0,0.84
12460,male,Poland,2013,Boomers,1755.0,3866967.0,45.38
12461,male,Poland,2013,Silent,287.0,869774.0,33.00
12462,male,Poland,2014,Millenials,527.0,2357793.0,22.35
12463,male,Poland,2014,Millenials,764.0,3087300.0,24.75
12464,male,Poland,2014,Generation X,1949.0,5170670.0,37.69
12465,male,Poland,2014,Generation Z,9.0,1929147.0,0.47
12466,male,Poland,2014,Boomers,1606.0,3963821.0,40.52
12467,male,Poland,2014,Silent,268.0,888229.0,30.17
12468,male,Poland,2015,Millenials,440.0,2274111.0,19.35
12469,male,Poland,2015,Millenials,768.0,3043082.0,25.24
12470,male,Poland,2015,Generation X,1665.0,5194280.0,32.05
12471,male,Poland,2015,Generation Z,12.0,1953588.0,0.61
12472,male,Poland,2015,Boomers,1524.0,4043381.0,37.69
12473,male,Poland,2015,Silent,288.0,902310.0,31.92
12474,male,Poland,2016,NaN,NaN,NaN,NaN
12475,male,Poland,2016,NaN,NaN,NaN,NaN
12476,male,Poland,2016,NaN,NaN,NaN,NaN
12477,male,Poland,2016,NaN,NaN,NaN,NaN
12478,male,Poland,2016,NaN,NaN,NaN,NaN
12479,male,Poland,2016,NaN,NaN,NaN,NaN

In [47]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1985)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

0.0

In [48]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1986)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

0.0

In [49]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1987)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

0.0

In [50]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1988)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

0.0

In [51]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1989)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

0.0

In [52]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1990)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

172.64

In [53]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1991)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

180.27

In [54]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1992)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

194.43

In [55]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1993)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

187.85000000000002

In [56]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1994)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

185.95999999999998

In [57]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1995)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

181.7

In [58]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1996)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

178.21

In [59]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1997)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

0.0

In [60]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1998)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

0.0

In [61]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 1999)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

184.14999999999998

In [62]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2000)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

191.01000000000002

In [63]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2001)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

180.65

In [64]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2002)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

183.26999999999998

In [65]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2003)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

180.15

In [66]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2004)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

187.74

In [67]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2005)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

186.04

In [68]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2006)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

182.85000000000002

In [69]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2007)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

166.47

In [70]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2008)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

177.38

In [71]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2009)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

197.1

In [72]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2010)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

190.64

In [73]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2011)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

183.85999999999999

In [74]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2012)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

192.37

In [75]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2013)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

187.59

In [76]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2014)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

178.3

In [77]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2015)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

166.99

In [78]:
f_yvsn = (data['country'] == 'Poland') & (data['year'] == 2016)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides/100k pop'].sum()

0.0