In [1671]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [1672]:
data = pd.read_csv('master_europa_olny.csv')

In [1673]:
data = data.drop(['Unnamed: 0'], axis = 1)

In [1674]:
data.columns

Index(['sex', 'country', 'year', 'age', 'generation', 'suicides_no',
       'population', 'suicides/100k pop', 'HDI for year', 'gdp_for_year ($) ',
       'gdp_per_capita ($)'],
      dtype='object')

In [1675]:
data

,sex,country,year,age,generation,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year ($),gdp_per_capita ($)
0,female,Albania,1985,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,female,Albania,1985,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,female,Albania,1985,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,female,Albania,1985,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,female,Albania,1985,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,female,Albania,1985,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,female,Albania,1986,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,female,Albania,1986,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,female,Albania,1986,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,female,Albania,1986,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,female,Albania,1986,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,female,Albania,1986,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,female,Albania,1987,15-24 years,Generation X,14.0,289700.0,4.83,NaN,2.156625e+09,796.0
13,female,Albania,1987,25-34 years,Boomers,4.0,257200.0,1.56,NaN,2.156625e+09,796.0
14,female,Albania,1987,35-54 years,Silent,6.0,278800.0,2.15,NaN,2.156625e+09,796.0
15,female,Albania,1987,5-14 years,Generation X,0.0,311000.0,0.00,NaN,2.156625e+09,796.0
16,female,Albania,1987,55-74 years,G.I. Generation,0.0,144600.0,0.00,NaN,2.156625e+09,796.0
17,female,Albania,1987,75+ years,G.I. Generation,1.0,35600.0,2.81,NaN,2.156625e+09,796.0
18,female,Albania,1988,15-24 years,Generation X,8.0,295600.0,2.71,NaN,2.126000e+09,769.0
19,female,Albania,1988,25-34 years,Boomers,5.0,262400.0,1.91,NaN,2.126000e+09,769.0
20,female,Albania,1988,35-54 years,Silent,4.0,284500.0,1.41,NaN,2.126000e+09,769.0
21,female,Albania,1988,5-14 years,Generation X,0.0,317200.0,0.00,NaN,2.126000e+09,769.0
22,female,Albania,1988,55-74 years,G.I. Generation,3.0,147500.0,2.03,NaN,2.126000e+09,769.0
23,female,Albania,1988,75+ years,G.I. Generation,2.0,36400.0,5.49,NaN,2.126000e+09,769.0
24,female,Albania,1989,15-24 years,Generation X,5.0,299900.0,1.67,NaN,2.335125e+09,833.0
25,female,Albania,1989,25-34 years,Boomers,2.0,266300.0,0.75,NaN,2.335125e+09,833.0
26,female,Albania,1989,35-54 years,Silent,7.0,288600.0,2.43,NaN,2.335125e+09,833.0
27,female,Albania,1989,5-14 years,Generation X,0.0,321900.0,0.00,NaN,2.335125e+09,833.0
28,female,Albania,1989,55-74 years,G.I. Generation,1.0,149600.0,0.67,NaN,2.335125e+09,833.0
29,female,Albania,1989,75+ years,G.I. Generation,0.0,37000.0,0.00,NaN,2.335125e+09,833.0
...,...,...,...,...,...,...,...,...,...,...,...
14946,male,United Kingdom,2012,15-24 years,Millenials,364.0,4204765.0,8.66,901.0,2.662085e+12,44585.0
14947,male,United Kingdom,2012,25-34 years,Millenials,597.0,4261254.0,14.01,901.0,2.662085e+12,44585.0
14948,male,United Kingdom,2012,35-54 years,Generation X,1587.0,8673006.0,18.30,901.0,2.662085e+12,44585.0
14949,male,United Kingdom,2012,5-14 years,Generation Z,10.0,3695552.0,0.27,901.0,2.662085e+12,44585.0
14950,male,United Kingdom,2012,55-74 years,Boomers,739.0,6392214.0,11.56,901.0,2.662085e+12,44585.0
14951,male,United Kingdom,2012,75+ years,Silent,215.0,2043034.0,10.52,901.0,2.662085e+12,44585.0
14952,male,United Kingdom,2013,15-24 years,Millenials,331.0,4180873.0,7.92,902.0,2.739819e+12,45594.0
14953,male,United Kingdom,2013,25-34 years,Millenials,586.0,4320298.0,13.56,902.0,2.739819e+12,45594.0
14954,male,United Kingdom,2013,35-54 years,Generation X,1743.0,8656572.0,20.13,902.0,2.739819e+12,45594.0
14955,male,United Kingdom,2013,5-14 years,Generation Z,5.0,3734237.0,0.13,902.0,2.739819e+12,45594.0
14956,male,United Kingdom,2013,55-74 years,Boomers,908.0,6488882.0,13.99,902.0,2.739819e+12,45594.0
14957,male,United Kingdom,2013,75+ years,Silent,258.0,2096518.0,12.31,902.0,2.739819e+12,45594.0
14958,male,United Kingdom,2014,15-24 years,Millenials,332.0,4171187.0,7.96,907.0,3.022828e+12,49906.0
14959,male,United Kingdom,2014,25-34 years,Millenials,602.0,4360457.0,13.81,907.0,3.022828e+12,49906.0
14960,male,United Kingdom,2014,35-54 years,Generation X,1692.0,8665195.0,19.53,907.0,3.022828e+12,49906.0
14961,male,United Kingdom,2014,5-14 years,Generation Z,7.0,3778321.0,0.19,907.0,3.022828e+12,49906.0
14962,male,United Kingdom,2014,55-74 years,Boomers,827.0,6597480.0,12.54,907.0,3.022828e+12,49906.0
14963,male,United Kingdom,2014,75+ years,Silent,257.0,2158742.0,11.91,907.0,3.022828e+12,49906.0
14964,male,United Kingdom,2015,15-24 years,Millenials,374.0,4151992.0,9.01,NaN,2.885570e+12,47240.0
14965,male,United Kingdom,2015,25-34 years,Millenials,596.0,4408293.0,13.52,NaN,2.885570e+12,47240.0
14966,male,United Kingdom,2015,35-54 years,Generation X,1579.0,8692440.0,18.17,NaN,2.885570e+12,47240.0
14967,male,United Kingdom,2015,5-14 years,Generation Z,4.0,3840476.0,0.10,NaN,2.885570e+12,47240.0
14968,male,United Kingdom,2015,55-74 years,Boomers,906.0,6716557.0,13.49,NaN,2.885570e+12,47240.0
14969,male,United Kingdom,2015,75+ years,Silent,273.0,2200958.0,12.40,NaN,2.885570e+12,47240.0
14970,male,United Kingdom,2016,15-24 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14971,male,United Kingdom,2016,25-34 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14972,male,United Kingdom,2016,35-54 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14973,male,United Kingdom,2016,5-14 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14974,male,United Kingdom,2016,55-74 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14975,male,United Kingdom,2016,75+ years,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1676]:
f_cntr = (data['country'] == 'United Kingdom')

In [1677]:
data.loc[f_cntr, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]

,sex,country,year,generation,suicides_no,population,suicides/100k pop
7296,female,United Kingdom,1985,Generation X,86.0,4549121.0,1.89
7297,female,United Kingdom,1985,Boomers,176.0,3899906.0,4.51
7298,female,United Kingdom,1985,Silent,505.0,6879295.0,7.34
7299,female,United Kingdom,1985,Generation X,2.0,3542919.0,0.06
7300,female,United Kingdom,1985,G.I. Generation,678.0,6002096.0,11.30
7301,female,United Kingdom,1985,G.I. Generation,237.0,2418692.0,9.80
7302,female,United Kingdom,1986,Generation X,97.0,4538658.0,2.14
7303,female,United Kingdom,1986,Boomers,161.0,3980652.0,4.04
7304,female,United Kingdom,1986,Silent,424.0,6933075.0,6.12
7305,female,United Kingdom,1986,Generation X,2.0,3480190.0,0.06
7306,female,United Kingdom,1986,G.I. Generation,541.0,5964761.0,9.07
7307,female,United Kingdom,1986,G.I. Generation,223.0,2454593.0,9.09
7308,female,United Kingdom,1987,Generation X,105.0,4483586.0,2.34
7309,female,United Kingdom,1987,Boomers,168.0,4073306.0,4.12
7310,female,United Kingdom,1987,Silent,417.0,6986157.0,5.97
7311,female,United Kingdom,1987,Generation X,3.0,3435125.0,0.09
7312,female,United Kingdom,1987,G.I. Generation,464.0,5919684.0,7.84
7313,female,United Kingdom,1987,G.I. Generation,174.0,2508896.0,6.94
7314,female,United Kingdom,1988,Generation X,120.0,4389539.0,2.73
7315,female,United Kingdom,1988,Boomers,171.0,4162366.0,4.11
7316,female,United Kingdom,1988,Silent,417.0,7055435.0,5.91
7317,female,United Kingdom,1988,Generation X,2.0,3412369.0,0.06
7318,female,United Kingdom,1988,G.I. Generation,445.0,5863850.0,7.59
7319,female,United Kingdom,1988,G.I. Generation,205.0,2551912.0,8.03
7320,female,United Kingdom,1989,Generation X,87.0,4270368.0,2.04
7321,female,United Kingdom,1989,Boomers,157.0,4262150.0,3.68
7322,female,United Kingdom,1989,Silent,353.0,7131057.0,4.95
7323,female,United Kingdom,1989,Generation X,2.0,3415806.0,0.06
7324,female,United Kingdom,1989,G.I. Generation,352.0,5807846.0,6.06
7325,female,United Kingdom,1989,G.I. Generation,176.0,2599321.0,6.77
...,...,...,...,...,...,...,...
14946,male,United Kingdom,2012,Millenials,364.0,4204765.0,8.66
14947,male,United Kingdom,2012,Millenials,597.0,4261254.0,14.01
14948,male,United Kingdom,2012,Generation X,1587.0,8673006.0,18.30
14949,male,United Kingdom,2012,Generation Z,10.0,3695552.0,0.27
14950,male,United Kingdom,2012,Boomers,739.0,6392214.0,11.56
14951,male,United Kingdom,2012,Silent,215.0,2043034.0,10.52
14952,male,United Kingdom,2013,Millenials,331.0,4180873.0,7.92
14953,male,United Kingdom,2013,Millenials,586.0,4320298.0,13.56
14954,male,United Kingdom,2013,Generation X,1743.0,8656572.0,20.13
14955,male,United Kingdom,2013,Generation Z,5.0,3734237.0,0.13
14956,male,United Kingdom,2013,Boomers,908.0,6488882.0,13.99
14957,male,United Kingdom,2013,Silent,258.0,2096518.0,12.31
14958,male,United Kingdom,2014,Millenials,332.0,4171187.0,7.96
14959,male,United Kingdom,2014,Millenials,602.0,4360457.0,13.81
14960,male,United Kingdom,2014,Generation X,1692.0,8665195.0,19.53
14961,male,United Kingdom,2014,Generation Z,7.0,3778321.0,0.19
14962,male,United Kingdom,2014,Boomers,827.0,6597480.0,12.54
14963,male,United Kingdom,2014,Silent,257.0,2158742.0,11.91
14964,male,United Kingdom,2015,Millenials,374.0,4151992.0,9.01
14965,male,United Kingdom,2015,Millenials,596.0,4408293.0,13.52
14966,male,United Kingdom,2015,Generation X,1579.0,8692440.0,18.17
14967,male,United Kingdom,2015,Generation Z,4.0,3840476.0,0.10
14968,male,United Kingdom,2015,Boomers,906.0,6716557.0,13.49
14969,male,United Kingdom,2015,Silent,273.0,2200958.0,12.40
14970,male,United Kingdom,2016,NaN,NaN,NaN,NaN
14971,male,United Kingdom,2016,NaN,NaN,NaN,NaN
14972,male,United Kingdom,2016,NaN,NaN,NaN,NaN
14973,male,United Kingdom,2016,NaN,NaN,NaN,NaN
14974,male,United Kingdom,2016,NaN,NaN,NaN,NaN
14975,male,United Kingdom,2016,NaN,NaN,NaN,NaN

In [1678]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1985)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

5105.0

In [1679]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1986)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4839.0

In [1680]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1987)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4594.0

In [1681]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1988)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4971.0

In [1682]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1989)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4361.0

In [1683]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1990)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4643.0

In [1684]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1991)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4547.0

In [1685]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1992)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4628.0

In [1686]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1993)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4462.0

In [1687]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1994)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4380.0

In [1688]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1995)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4315.0

In [1689]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1996)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4165.0

In [1690]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1997)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4143.0

In [1691]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1998)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4389.0

In [1692]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 1999)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4448.0

In [1693]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2000)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4290.0

In [1694]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2001)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4128.0

In [1695]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2002)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4117.0

In [1696]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2003)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

3979.0

In [1697]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2004)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4183.0

In [1698]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2005)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4047.0

In [1699]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2006)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4122.0

In [1700]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2007)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

3897.0

In [1701]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2008)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4259.0

In [1702]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2009)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4246.0

In [1703]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2010)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4188.0

In [1704]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2011)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4393.0

In [1705]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2012)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4444.0

In [1706]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2013)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4824.0

In [1707]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2014)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4788.0

In [1708]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2015)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

4910.0

In [1709]:
f_yvsn = (data['country'] == 'United Kingdom') & (data['year'] == 2016)
a_s =data.loc[f_yvsn, ['sex', 'country', 'year', 'generation', 'suicides_no',
       'population', 'suicides/100k pop']]
a_s['suicides_no'].sum()

0.0